<div class="shadow-sm">
    <nav class="navbar-expand-md border-bottom mb-3">
        <div class="container">
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="text-dark" class="nav-link text-secondary">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="text-dark" class="nav-link text-secondary">About</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/skills" routerLinkActive="text-dark" class="nav-link text-secondary">Skills</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/portfolio" routerLinkActive="text-dark"
                        class="nav-link text-secondary">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="text-dark" class="nav-link text-secondary">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>