<div class="shadow-sm bg-dark">
    <nav class="navbar navbar-expand-md">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-light" href="https://github.com/barbaracalderon" target="_blank" class="a-green surname">_CALDERON</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a routerLink="/home" routerLinkActive="text-light" class="nav-link text-secondary a-green">
                        <span class="nav-number">01.</span> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="text-light" class="nav-link text-secondary a-green">
                        <span class="nav-number">02.</span> About
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/skills" routerLinkActive="text-light" class="nav-link text-secondary a-green">
                        <span class="nav-number">03.</span> Education
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/portfolio" routerLinkActive="text-light" class="nav-link text-secondary a-green">
                        <span class="nav-number">04.</span> Portfolio
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contact" routerLinkActive="text-light" class="nav-link text-secondary a-green">
                        <span class="nav-number">05.</span> Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
