<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Barbara Calderon.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/barbaracalderondev/?locale=en_US" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/barbaracalderon" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:bcalderoni.ti@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://twitter.com/bederoni" target="_blank" class="a-green">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
