@import '../../styles.css';

.card-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #27333f;
    color: white;
    margin-top: 50px;
    border: 2px solid #b0caf063;
}

.card-body{
    margin: 5px 0px;
    text-align: center;
}

.card-title{
    color: #8c98a3;
    font-size: 1.75rem;;
    line-height: 2rem;
    font-weight: bold;
}

.card-text{
    margin: 25px 0px;
    color: white;
    font-size: 1rem;
    line-height: 1.75rem;
}
