<div class="card shadow text-center" style="max-width: 350px; min-width: 350;">
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.summary }}</p>
        <button class="btn btn-primary">View More</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">

            @for(tag of project.tags; track project.tags) {
                <div class="tag me-2 mb1" [style.background-color]="tag.color">{{ tag }}</div>
            }

        </div>
    </div>
</div>