<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/bc.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                barbara_calderon
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/barbaracalderondev/?locale=en_US" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/barbaracalderon" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:bcalderoni.ti@gmail.com" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="https://twitter.com/bederoni" target="_blank" class="a-green">
                        <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                I'm always happy to collaborate on new projects and explore innovative solutions.
                If you're looking for a dedicated software developer to bring your ideas to life,
                let's arrange a call. Let's discuss how <span class="default-highlight">
                we can work together to achieve your goals</span>.
            </p>
            <button>
                <a href="https://www.linkedin.com/in/barbaracalderondev/?locale=en_US" target="_blank" class="a-green">
                > DM me on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
