@import '../../styles.css';
@media (max-width: 768px) {
  .contact-title {
      font-size: 32px !important;
  }
}

.contact-card {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #27333f;
    border: 2px solid #b0caf063;
    padding: 70px 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.contact-title{
    font-size: 3.5rem;
    color: #ffffff;
}


.white-highlight{
    color: white;
}

h1 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
}

.contact-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.contact-paragraph {
    font-size: 1.25rem;
    color: #8c98a3;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    max-width: 600px;
}

.contact-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.contact-button {
    background-color: transparent;
    border: 2px solid #00FF00;
    color: #00FF00;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.contact-button:hover {
    transform: scale(1.1);
}

.contact-button a {
    color: #00FF00;
    text-decoration: none;
}

.contact-button a:hover {
    color: #00FF00;
}

.media-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  

  .media-icons {
    display: flex;
    justify-content: space-around;
    width: 35%;
  }

  .media-icon {
    font-size: 2rem;
  }
  
  .media-icons a {
    color: #adb5bd;
    margin-left: 10px;
    position: relative;
    text-decoration: none;
  }
  
  .media-icons a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #00FF00;
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  
  .media-icons a:hover::after {
    width: 100%;
    left: 0;
    background: #00FF00;
  }
  
  .media-icons a:hover,
  .media-icons a:active {
    color: #f8f9fa;
  }
  
  .fab,
  .fas {
    font-size: 35px;
  }
  