<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Education.</h2>
                <p class="default-p">
                    Check out my educational background from college, technical courses and techs I have worked with.
                </p>

                <h2 class="default-subtopic">University.</h2>

                <app-accordion></app-accordion>

                <h2 class="default-subtopic">Techs I use.</h2>
                    <div class="tech-board">
                        <div class="tech-cell">
                            <i class="devicon-java-plain-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-spring-original-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-hibernate-plain-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-postgresql-plain-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-sqlite-plain-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-sqlalchemy-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-angular-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-typescript-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-javascript-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-html5-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-css3-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-bootstrap-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-python-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-flask-original"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-poetry-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-selenium-original"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-playwright-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-plotly-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-intellij-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-pycharm-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-vscode-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-insomnia-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-postman-plain"></i>
                        </div>
                        <div class="tech-cell">
                             <i class="devicon-swagger-plain"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-pytest-plain-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-npm-original-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-docker-plain-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-git-plain-wordmark"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-github-original"></i>
                        </div>
                        <div class="tech-cell">
                            <i class="devicon-jira-plain-wordmark"></i>
                        </div>
                    </div>
        </div>
    </div>
</div>
