<div class="row align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">Education.</h2>
                <p class="default-p">
                    Check out my educational background: languages I speak, education from college, technical courses and technologies I have worked with.
                </p>
                <app-accordion></app-accordion>
        </div>
    </div>
</div>
