<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [cardModel]="portfolio"></app-project-card>
        </div>
        <div class="col-lg-4 col-md mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [cardModel]="portfolio"></app-project-card>
        </div>
        <div class="col-lg-4 col-md mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [cardModel]="portfolio"></app-project-card>
        </div>
        <div class="col-lg-4 col-md mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [cardModel]="portfolio"></app-project-card>
        </div>
        <div class="col-lg-4 col-md mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [cardModel]="portfolio"></app-project-card>
        </div>
        <div class="col-lg-4 col-md mb-4" style="max-width: 380px; min-width: 380px;">
            <app-project-card [cardModel]="portfolio"></app-project-card>
        </div>
    </div>
</div>