.accordion-left{
    max-width: 820px;
}

.accordion-text{
    font-size: 1rem;
}

.tech-board {
    display: grid;
    max-width: 820px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #141a20;
    padding: 20px;
    border-radius: 8px;
  }
  
  .tech-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27333f;
    border: 2px solid #00FF00;
    padding: 10px;
    margin: 20px 30px;
    border-radius: 8px;
    color: white;
    font-size: 6rem;
  }
  
  .tech-cell img {
    max-width: 50px;
    max-height: 50px;
  }
  
  @media (max-width: 768px) {
    .tech-board {
      grid-template-columns: repeat(1, 1fr);
    }
  }