<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
      <p>Advanced <strong><span class="default-highlight">Spanish</span></strong></p>
      <p>Native <strong><span class="default-highlight">Portuguese</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2023 - UFSC - <strong><span class="default-highlight">Information Systems</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | The Brazillian Gazettes' Restful APIs
        </li>
      </ul>
      <p>2018 - UFSC - <strong><span class="default-highlight">International Relations</span></strong> - Master's Degree</p>
      <ul>
        <li>
          Thesis | TOR Network and non-state actors: an analysis of Power Diffusion in three dimensions
        </li>
      </ul>
      <p>2014 - UFSC - <strong><span class="default-highlight">International Relations</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | The TOR Network and International Relations
        </li>
      </ul>
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Technical."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>SENAI/SC Lab365 - <strong><span class="default-highlight">Fullstack Development with Java, Spring and Angular</span></strong> - Currently</p>
      <ul>
        <li>
          A software development course focused on Fullstack applications. Technologies include 
          Spring Boot Data JPA, Spring Security, Web, Data JDBC, JWT, Flyway Core, SQL, and 
          PostgreSQL, as well as Angular, Typescript, Javascript, HTML, CSS, Docker, Kubernetes, CI/CD and more.
        </li>
      </ul>
      <p>AWS Academy Graduate - <strong><span class="default-highlight">AWS Academy Cloud Foundations</span></strong> - July/2022</p>
      <ul>
        <li>
          Certification issued by Amazon Web Services Training and Certification upon successful completion of the AWS Academy Cloud Foundations course. This badge attests to proficiency in AWS Architecture, AWS Cloud, AWS Core Services, AWS Pricing, and AWS Support.
        </li>
      </ul>
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-java-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-spring-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-hibernate-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postgresql-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-sqlite-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-sqlalchemy-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-flask-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-poetry-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-selenium-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-playwright-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-plotly-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-intellij-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-pycharm-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-insomnia-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-pytest-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-npm-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-docker-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jira-plain-wordmark"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>