.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #5a7581;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #adb5bd;
    position: relative;
    text-decoration: none;
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #00FF00; 
    transition: width 0.3s ease, background-color 0.3s ease;
}

a:hover::after {
    width: 100%;
    left: 0;
    background: #00FF00;
}

a:hover,
a:active {
    color: #f8f9fa;
}