.home-present {
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.home-present-content {
    max-width: 65%;
    align-items: flext-start;
}

.home-present-details {
    display: flex;
}

.home-present-p {
    padding: 10px;
    margin: 5px;
    max-width: 200px;
}