<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Barbara Calderon, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a developer with 4 years experience in building software. I leverage my fluency in English, college education, and coding skills to craft accessible, scalable and high-performance applications.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  