@import '../../styles.css';
@media (max-width: 768px) {
    .home-title, .home-author {
        font-size: 50px !important;
    }

    .home-author {
        line-height: 4rem !important;
    }
  }

.text-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-left {
    margin: 80px;
    text-align: start;
}

.home-title {
    font-size: 5rem;
    color: #e0f0ff;
    margin-bottom: 5rem;
    line-height: 5rem;
}

.home-author {
    font-size: 3.5rem;
    color: #b0caf063;
    margin-bottom: 3rem;
}

#dynamic-text {
    border-right: 2px solid #00FF00;
    padding-right: 5px;
    animation: blink-caret 0.7s step-end infinite;
    color: #00FF00;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #00FF00; }
}

