<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1" id="home-container">
            <div class="text-left">
                <div class="home-present">
                    <div class="home-present-content">
                        <h1>
                            Software Developer.
                        </h1>
                        <blockquote>
                            "I am passionate about building comprehensive software systems that combine frontend aesthetics with backend functionality, resulting in intuitive and scalable applications."
                        </blockquote>
                        <p><strong>Barbara Calderon</strong>.</p>
                    </div>
                </div>
                <div class="home-present-details">
                    <p class="home-present-p">Bachelor's Degree in Information Systems from UFSC, Brazil.</p>
                    <p class="home-present-p">Experience of 3 years with software development.</p>
                </div>
            </div>
        </div>

        <div class="col-lg shadow border m-1">
            <div class="text-right">
                <div class="home-present-image">
                    <h1>Insert picture here</h1>
                </div>
            </div>
        </div>
    </div>
</div>